<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Yummy Beast</title>
</head>
<header>
  <div class="container">
    <div clas="row" >
      <!-- <img class="logo col-md-6" src="/assets/logo.jpg" alt="logo"> -->
      <nav class="navbar navbar-default navbar-static-top col-md-6">
        <% if current_user == @user %>
          <%= link_to "Login", "/login", :class => 'btn btn-default navbar-btn' %>
          <%= link_to "Sign up", "/signup" , :class => 'btn btn-default navbar-btn' %>
        <% else %>
          <%= link_to "My profile", "/profile" , :class => 'btn btn-default navbar-btn'%> 
          <%= link_to "Logout", "/logout", :method => :delete , :class => 'btn btn-default navbar-btn' %>
        <% end %>
      </nav>
    </div>
  </div>  
</header>
<body>
  <div class="jumbotron main">
    <div class="container">
      <h1 class="hello">Hello, <%= @name %>!</h1> 
      <div clas="row">
        <div class="col-sm-12 col-md-12">
          <form class="navbar-form navbar-left search-form search-form-js"  role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search for a kind of food..." name="term" style="width:250px"></input>
              <input type="number" class="form-control" placeholder="Filter by distance in metres..." name="radius" style="width:250px; display: inline-block;">
              <button type="submit" class="btn btn-default">Search</button> 
              <input name="authenticity_token" type="hidden" value=<%= form_authenticity_token %> ></input>
            </div> 
          </form>
        </div>  
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="how-works">How does it work</h2>
    <span class="lines" ></span>
    <div class="row steps">
      <div class="col-md-4">
        <img src="assets/type.jpg" >
        <p>
        Type the food or the name of the restaurant you are looking for.
        </p>
      </div>
      <div class="col-md-4">
        <img src="assets/hover.jpg" >
        <p>
        A map will appear showing the locations of all surrounding restaurants matching your search.
        </p>
      </div>
      <div class="col-md-4">
        <img src="assets/check.jpg" >
        <p>
        Pass your cursor over the markers to check the ratings and choose the best one!
        </p>
      </div>
    </div>
  </div>

  <div id="map-container" class="hidden container animated">
    <div clas="row">  
      <div id="map" class="col-sm-12 col-md-12">
      </div>
    </div>
  </div> 
  <footer>
    <p>Created by: Rodrigo Nunes</p>
    <p>Contact information: <a href="mailto:rodrigo.nunes06@gmail.com">
    rodrigo.nunes06@gmail.com</a>.</p>
  </footer> 
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBrKTCYHntDjPiuZbANTYBCeHk4ZB79cU"></script>

</body>
</html>







