<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Yummy Beast</title>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <%= link_to "Sign up", "/signup" , :class => 'btn btn-default navbar-btn' %>
      <%= link_to "My profile", "/profile" , :class => 'btn btn-default navbar-btn'%>
      <%= link_to "Login", "/login", :class => 'btn btn-default navbar-btn' %>
      <%= link_to "Logout", "/logout", :method => :delete , :class => 'btn btn-default navbar-btn' %>
    </div>
  </nav>
  <div class="jumbotron" style="padding-top: 50px">
    <div class="container">
      <h1>Hello, <%= @name %>!</h1>
      <form class="navbar-form navbar-left search" role="search">
        <div class="form-group">
          <input type="text" class="form-control" style="width:300px" placeholder="Search for a restaurant or food...">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <br>
      <br>
      <br>
    </div>
  </div>
</body>
</html>







